{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
  <h1>Add Hamster</h1>
{% endif %}
<div class="row">
  <div class="col s12 m4 l3"></div>
  <div class="col s12 m4 l6">
    <form action="" method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="Submit!" class="btn">
    </form>
  </div>
  <div class="col s12 m4 l3"></div>
</div>

{% endblock %}