{% extends 'base.html' %}
{% block content %}

<h1>Hamster Details</h1>

<div class="row">
  <div class="col s6">
    {% if hamster.gender == 'male' %}
    <div class="card" style="background-color:#8CC0DE">
    {% else %}
    <div class="card" style="background-color:#F4BFBF">
    {% endif %}
      <div class="card-content">
        {% if hamster.gender == 'male' %}
          <span class="card-gender">♂</span>
        {% else %}
          <span class="card-gender">♀</span>
        {% endif %}
        <span class="card-title">{{ hamster.name }}</span>
        <p><span class="bold">Birthday:</span> {{ hamster.birthday }}</p>
        <p><span class="bold">Height:</span> {{ hamster.height }}</p></br>
        <a class="action" href="{% url 'hamsters_update' hamster.id %}">Edit</a>
        <a class="action" href="{% url 'hamsters_delete' hamster.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_feeding' hamster.id %}" method="POST">
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="Add Feeding">
    </form>
    {% if hamster.fed_for_today %}
    <div class="card-panel teal-text center-align">{{hamster.name}} has been fed all meals for today.</div>
    {% else %}
    <div class="card-panel red-text center-align">{{hamster.name}} might be hungry!</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in hamster.feeding_set.all %}
        <tr>
          <td>{{feeding.date}}</td>
          <td>{{feeding.get_meal_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

  const selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}