{% extends 'base.html' %}
{% block content %}

<h1>Hamster Details</h1>

<div class="row">
  <div class="col s6">
  {% if hamster.gender == 'male' %}
  <div class="card" style="background-color:#8CC0DE">
  {% else %}
  <div class="card" style="background-color:#F4BFBF">
  {% endif %}
  <div class="card-content">
    {% if hamster.gender == 'male' %}
      <span class="card-gender">♂</span>
    {% else %}
      <span class="card-gender">♀</span>
    {% endif %}
    <span class="card-title">{{ hamster.name }}</span>
    <p><span class="bold">Birthday:</span> {{ hamster.birthday }}</p>
    <p><span class="bold">Height:</span> {{ hamster.height }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'hamsters_update' hamster.id %}">Edit</a>
    <a href="{% url 'hamsters_delete' hamster.id %}">Delete</a>
  </div>
</div>
<div class="col s6">
  <form method="POST">
    {% csrf_token %}
    {{ feeding_form.as_p }}
    <input type="submit" class="btn" value="Add Feeding">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Meal</th></tr>
    </thead>
    <tbody>
      {% for feeding in hamster.feeding_set.all %}
        <tr>
          <td>{{feeding.date}}</td>
          <td>{{feeding.get_meal_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}