@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* overflow: hidden; */
    background-color: #FFD9C0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5vh auto 0
}

#id_username, #id_password, #id_password1, #id_password2, #id_date {
    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.helptext {
    display: block;
    visibility: hidden;
}

body, .hamtaro {
    display: flex;
}

body, input {
    font-family: 'Montserrat Alternates', sans-serif;
}

li, h1, h4, .card-title, .btn, form, .name {
    font-family: 'Bungee Inline', cursive;
}

.nav-wrapper, h1, h4, .card-content, form label, .btn {
    text-shadow: 1.5px 1.5px grey;
}

h1, h4, .card-content, form label, .card a {
    color: white;
}

.btn, form label, .card-gender, h5 {
    font-size: 20px;
}

.card, .card-panel, .btn {
    border-radius: 25px;
}

.nav-wrapper, .btn {
    background-color: #8CC0DE;
}

h1, h4, h5, .card-content {
    text-align: center;
}

.hamster, .toy {
    height: 250px;
    padding: 15px 0 15px 0;
    filter: drop-shadow(1px 1px 5px grey)
}

.nav-wrapper a {
    color: #FAF0D7;
}

.left.brand-logo {
    margin-left: 20px;
}

.hamster-container, .detail-container, .hamtaro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamster-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.card {
    background-color: #FAF0D7;
    margin: 25px;
    width: 375px;
    height: 400px;
}

.card-gender {
    font-weight: 900;
    float: left;
    padding-right: 5px;
}

.action {
    padding: 50px;
}

.bold {
    font-weight: 700;
}

.hamtaro {
    height: 99rem;
}

#hamtaro {
    width: 100rem;
}

.btn {
    margin-top: 25px;
}

.btn:hover {
    background-color: white;
    color: darkgrey;
}

.submit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-panel {
    background-color: #FAF0D7;
    width: 375px;
    margin: 20px auto;
}

input.select-dropdown.dropdown-trigger {
    width: 300px;
    text-align: center;
}

.striped {
    width: 400px;
    margin: auto;
}