@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
}

li, h1, .card-title {
    font-family: 'Bungee Inline', cursive;
}

.card-gender {
    font-weight: 900;
    font-size: 20px;
    float: left;
    padding-right: 5px;
}

.bold {
    font-weight: 700;
}
  
main {
    flex: 1 0 auto;
}

.home {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.hamtaro {
    width: 100vmin;
    height: 74rem;
    background-image: url('https://i.imgur.com/XvB1n6q.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}


