@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat Alternates', sans-serif;
    /* overflow: hidden; */
    background-color: #FFD9C0;
}

.nav-wrapper {
    background-color: #8CC0DE;
    text-shadow: 2px 2px grey;
}

.nav-wrapper a {
    color: #FAF0D7;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px grey;
}

li, h1, .card-title {
    font-family: 'Bungee Inline', cursive;
}

.card, .card-panel {
    border-radius: 25px;
}

.card a {
    color: white;
}

.card-content {
    color: white;
    text-shadow: 2px 2px grey;
}

.card-gender {
    font-weight: 900;
    font-size: 20px;
    float: left;
    padding-right: 5px;
}

.action {
    padding: 30px;
}

.bold {
    font-weight: 700;
}

.hamtaro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98rem;
}

#hamtaro {
    width: 100rem;
}


